* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
body .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
  border-bottom: 1px solid #c64756;
}
.navbar a h1{
  color: #c64756;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;

}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  cursor: pointer;
}

.navbar a:hover {
  color: #ff8882;
}

.home-button{
  font-size: 20px;
  font-weight: bold;
}

div.links .create-button{
  color: #fff;
  background-color: #c64756;
  border-radius: 8px;
  font-size: 22px;
  padding: 10px;

}

footer div{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}



/* add php */



section form{
  max-width: 600px;
  margin: auto;
  padding: 15px;
}

section h1{
  color: #ce1f6a;
  font-family: 'Montserrat', sans-serif;
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

section label{
  display: block;
  margin: 10px auto;
  text-align: left;
  color: #ce1f6a;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

section input{
  display: block;
  text-align: left;
  width: 600px;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 30px;

}

section textarea{
  display: block;
  text-align: left;
  width: 600px;
  height: 80px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 30px;
}

section form p{
  font-size: 18px;
  color: #ce1f6a;
  font-family: 'Montserrat', sans-serif;
  margin-top: -20px;
  font-weight: bold;
  font-style: italic;
}


.submit-button{
  color: #fff;
  background-color: #c64756;
  border-radius: 3px;
  font-size: 18px;
  padding: 0;
  text-align: center;
  margin: 10px auto;
  height: 40px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ddd;
}


/* home page */


div.grid-container {
  padding: 10px;

  text-align: left;
}

div.grid-container .card{
  display: inline-block;
  background-color: #fcecdd;
  width: 350px;
  margin: 40px;
  padding: 20px;
  border-radius: 4px;
  color: #393e46;
  border-color: #ffd5cd;
}

div.grid-container, h3{
  margin: 10px 0;
}

div.grid-container .card:hover{
  opacity:8;
}

div.grid-container a{
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  margin: 20px 0;
  padding: 5px 0;
  color: #393e46;
}
div.grid-container a:hover{
  border-bottom: 3px solid #393e46;;
}

.recipe-title{
  max-width: 1000px;
  margin: 20px auto;
  text-align: left;
  color: #c64756;
}


div.details{
  background-color: #fcecdd;
  line-height: 2rem;
  max-width: 800px;
  text-align: left;
  margin: 30px auto;
  padding: 50px;
}

footer{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
